@using Senai.Aulas.ProjetoFinal.Models;
@{
    Layout= "Admin";
}
<html>
    <h1 style="text-align: center; margin-bottom: 1em;">Formulário de Edição</h1>

    @{
        ComentarioModel Comentario = ViewBag.Comentario; 
    }

    @ViewBag.Mensagem

    <form action="/Comentario/Editar" method="POST" style="display: flex; flex-direction: column;align-items: center">
        <input type="hidden" value="@Comentario.ID" name="id"> 
        <input type="hidden" value="@Comentario.IDusuario" name="idUsuario">
        <label>
            Data Comentario:
        <input type="datetime" value="@Comentario.DataComentario" name="data"  readonly >
        </label>


        <label>
            Usuario que comentou
            <input type="text" value="@Comentario.Nome" name="nome" readonly >
        </label>
        <label>
            Comentario 
            <input type="text" value="@Comentario.Comentario" name="comentario" readonly>
        </label>
            <input type="radio" name="aprovado" value="False" >
        <label>
            Comentario Desaprovado 
        </label>
                    <input type="radio" name="aprovado" value="True">
        <label>
            Aprovado
        </label>
        <button type="submit">Salvar</button>
    </form>
</html>