@using Projeto_Senai.Carfel.Final.Models;
@{
    Layout= "LoginAdmin";
}
<html>
    <h1>Formulário de Edição</h1>

    @{
        UsuarioModel usuario = ViewBag.Usuario; 
    }

    @ViewBag.Mensagem

    <form action="/Usuario/Editar" method="POST">
        <input type="hidden" value="@usuario.Id" name="id">
        
        <label>
            Nome
            <input type="text" value="@usuario.Nome" name="nome">
        </label>
        <label>
            E-mail
            <input type="email" value="@usuario.Email" name="email">
        </label>
        <label>
            Senha
            <input type="password" value="@usuario.Senha" name="senha">
        </label>
            <input type="radio" name="admin" value="True">
        <label>
            Administrador
        </label>
                    <input type="radio" name="admin" value="False">
        <label>
            Usuario
        </label>
        <button type="submit">Salvar</button>
    </form>
</html>